.popularHead{
      color: white;
    font-size: 34px;
    font-weight: 500;
    padding: 32px 32px;
    padding-bottom: 0;
    font-family: 'Edu NSW ACT Hand Pre', cursive;
    
}
.popularMainDiv{
        padding-top: 0px;
}
.popInner{
    padding-top: 0px;        
  min-height: 100vh;
   display: grid;
    grid-template-columns: repeat(auto-fit , 300px);
    gap: 0px;
}
